html{
    margin: 0;
    padding: 0;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(225, 208, 208);
}
.emre{
    border: 5px dashed black;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
background-color: blue;

}